<%- include('partials/header') -%>
<div class="d-flex h-100s">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ffff">
            <div class="container">
                <a class="navbar-brand"href="/">
                    <img src="imgs/logo.png" alt="logo" >
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <a class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-3 rounded mr-3" href="/login">Login</a>
                    <a class="bg-orange-500 hover:bg-orange-400 text-white font-bold py-2 px-3 rounded " href="/signup">Signup</a>
                </div>
            </div>
        </nav>
    </div>
    <div class=" ">
        <div class="">
            <div class="parent-container d-flex flex-column3 ">
                <div class="container-fluid mt-5 pt-5 ">
                    <div class="row">
                        <img class="col-3 pt-5 " src="/imgs/image1.jpg" alt="dog">
                        <img class="col-4 pt-5 " src="/imgs/image2.jpg" alt="dog">
                        <img class="col-3 pt-5 " src="/imgs/image3.jpg" alt="cat">
                    </div>
                    <div class="row">
                        <img class="col-4 pt-3" src="/imgs/image4.jpg" alt="dog">
                        <img class="col-3 pt-3" src="/imgs/image5.jpg" alt="dog">
                        <img class="col-3 pt-3" src="/imgs/image6.jpg" alt="dog">
                    </div>
                </div>
                <div class="container-fluid mt-5 pt-5">
                    <div class="row ">
                        <h1 class="text-5xl font-bold mt-5 pt-5">Lost your pet?</h1>
                        <p class="text-xl mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>  Deleniti eligendi asperiores ipsum voluptatum <br> sit molestias aut architecto optio quaerat facere.</p>
                        <div class="d-grip gap-2 d-md-flex justify-content-md-start">
                            <a class="bg-orange-500 hover:bg-orange-400 text-white font-bold py-2 px-3 mt-3 rounded" href="/signup" type="button">Signup with E-mail</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
       
<%- include('partials/footer') -%>