@media (min-width:992px) {
    .col-lg-5 {
        flex: 0,0,auto;
        width: 50%;
    }
}

@media (min-width: 576px) {
    .col-sm-8 {
        flex: 0,0,auto;
        width: 66.67%;
    }
}
@media (min-width: 768px) {
    .card {
        flex: 0,0,auto;
        width: 33.34%;
    }
}

.row-cols-1>* {
    flex: 0,0,auto;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.btn {
    margin-right: 1rem;
    color: #183a1d
}

ul {
    text-decoration: none;
    list-style: none;
}

.fa-heart {
    background-color: rgb(255, 93, 120);
}

.fa-trash {
    background-color: gray;
    margin-left: 2rem;
}

.border-dark {
    margin-top: 4rem;
    margin-bottom: 6rem
}

.footer {
    font-size: small;
}

.footer > a {
    text-decoration: none;
}

body {
    background-color: #e1eedd;
}

h1 {
    color: #183a1d;
}

.card-text, .card-title{
    color: #183a1d;
}

div > .mt-5 .container {
    margin-left: 6rem;
}

ul > .container {
    margin-left: 2.5rem;
}