@media (min-width:992px) {
    .col-lg-5 {
        flex: 0,0,auto;
        width: 50%;
    }
}

@media (min-width: 576px) {
    .col-sm-8 {
        flex: 0,0,auto;
        width: 66.67%;
    }
}
@media (min-width: 768px) {
    .card {
        flex: 0,0,auto;
        width: 33.34%;
    }
}

.row-cols-1>* {
    flex: 0,0,auto;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}